body {
  scale: 100%;
  margin: 0;
  background-color: #cecece;
/*   border: yellow 2vw solid;
 */}
.frame-overlord {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
/*   border: rgb(0, 255, 55) 2vw solid;
 */  scale: 100%;
  transition: top 1s ease-in-out;
  margin-top: 10vh;

}

.frame {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0 0 0;
  margin: 0;
  margin-top: -10vw;
/*   border: yellow 2vw solid;
 */  scale: 70%;
}
.sider-l{
  display: none;
  flex-direction: column;
  order: 1;
  min-width: max-content;
  justify-content: space-between;
}
.sider-l.open{
  display: flex;
}
.sider-r{
  display: none;
  flex-direction: column;
  order: 5;
  min-width: max-content;
  justify-content: space-between;
}
.sider-r.open{
  display: flex;
}
.mdl {
  display: flex;
  flex-direction: column;
  order: 3;
}
.l {
  order: 2;
  display: flex;
  flex-direction: row;
  padding: 2vw 0 2vw 0;
}
.r {
  order: 4;
  display: flex;
  flex-direction: row-reverse;
  padding: 2vw 0 2vw 0;
}

.am-marker{
font-size: 4vw;
text-shadow: 0.3vw 0.2vw 0.4vw #3a2cff;
color: #b99bff;
font-weight: bold;
font-family: 'Courier New', Courier, monospace;
text-align: right;
display: flex;
justify-content: space-evenly;
}

.am-sun{
  border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color: yellow;
  align-self: center;
  justify-self: center;
}
.am-sky{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 8vw;
  height: 8vw;
  background:linear-gradient(to bottom, #0000ff, #aaaaf5  );
}
.pm-sun{border-radius: 50%;
  width: 4vw;
  height: 4vw;
  background-color: yellow;
  align-self: center;
  justify-self: center;
}
.pm-sky{border-radius: 50%;
  display: flex;
  justify-content: center;
  width: 8vw;
  height: 8vw;
  background:linear-gradient(to bottom, #ff0080, #aaaaf5  );
}

.pm-marker{
  font-size: 4vw;
  display: flex;
  text-shadow: 0.3vw 0.2vw 0.4vw rgb(236, 94, 255);
  color: rgb(253, 200, 120);
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  align-content: end;
  text-align: right;
  align-content: flex-start;
  justify-content: space-evenly;
}
.selections-explained{
  font-size: 4vw;
  font-weight: bold;
  color: rgb(255, 230, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0.2vw 0.4vw 0.5vw #ee9024
}
.midnight-recap{
  font-size: 4vw;
  color: #c7efff;
  text-align:justify;
  font-weight: bold;
  text-shadow: 0.4vw 0.4vw 0.7vw #080080;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.tap-indicator{
  font-size: 5vw;
  font-weight: bold;
  color: #bcffbc;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-shadow: 0.2vw 0.2vw 0.7vw  rgb(43, 255, 0) ;
  text-align: center;
  display: none;
}
.tap-indicator.open{
  display: block;
}
.left {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 2.5vw;
  border: 0.5vw solid rgb(0, 0, 0);
  background-color: #00000000;
}
.right {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 2.5vw;
  border: 0.5vw solid rgb(0, 0, 0);
  background-color: #00000000;
}
.left.open {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 2.5vw;
  border: 0.5vw solid rgb(0, 0, 0);
  background-color: #6453acc9;
  background: linear-gradient(to top, #272768, #020080, #8c8cdd);
}
.right.open {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 2.5vw;
  border: 0.5vw solid rgb(0, 0, 0);
  background-color: #ffe59fc2;
  background: linear-gradient(to bottom, #ffd900, #ffaf38, #e2623b);
}
.leftt {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #00000000;
  height: 0;
  width: 2vw;
  background: linear-gradient(to top, #272768, #020080, #8c8cdd);
}
.rightt {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #000000;
  height: 0;
  width: 2vw;
  background: linear-gradient(to bottom, #ffd900, #ffaf38, #e2623b);
}
.top {
  display: flex;
  flex-direction: row;
  border: 0.5vw solid rgb(25, 43, 20);
  text-align: center;
  max-height: 2.5vw;
}
.top.open {
  display: flex;
  flex-direction: row;
  border: 0.5vw solid rgb(25, 43, 20);
  text-align: center;
  max-height: 2.5vw;
  background: linear-gradient(to right, #84abff, #ffd54a, #ffee00);
}
.topt {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #000000;
  height: 2vw;
  width: 0;
  background: linear-gradient(to right, #84abff, #ffd54a, #ffee00);
}
.bottom.open {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: center;
  max-height: 2.5vw;
  border: 0.5vw solid rgb(25, 43, 20);
  background-color: #f5d3fde0;
  background: linear-gradient(to left, #d15d5d, #b94eab, #2d225e);
}
.bottom {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  text-align: center;
  max-height: 2.5vw;
  border: 0.5vw solid rgb(25, 43, 20);
  background-color: #00000000;
}
.bottomt {
  display: flex;
  flex-direction: row;
  background-color: #000000;
  height: 2vw;
  width: 0;
  background: linear-gradient(to left, #d15d5d, #b94eab, #2d225e);
}
.hr,
.t,
.tt {
  background-color: rgb(0, 0, 0);
  color: white;
  min-height: 0.5vw;
  min-width: 0.5vw;
}
.slot,
.hr {
  width: 2.5vw;
  height: 2.5vw;
  font-size: 2vw;
}
.slot {
  cursor: copy;
  display: flex;
  justify-content: start;
}
.slot:active {
  cursor: default;
}

.slote{
  display: flex;
  flex-direction: row;
  width: 0.8vw;
  border: #838383 solid 0.05vw;
  background-color: #5c5c5c79;
  animation: tick 0s infinite;
}
@keyframes tick {
  from {
    background-color: #e2e2e2;
  }
  to {
    background-color: #5c5c5c94;
  }
}
.tick.open {
  display: none;
}
.tack {
  height: 0.8vw;
  width: 100%;
}
/* .tock {
  display: flex;
  flex-direction: column;
} */
.left > .slot,.right > .slot{
  display: flex;
  flex-direction: column;
} 
.bottom > .slot{
  display: flex;
  flex-direction: row-reverse;
}
.center {
  height: 80.6vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #415cd600;
}
.center:hover {
  cursor: pointer;
}

.Index {
  color: #ffffff;
  background-color: #7c7c7c;
  width: 5vw;
  height: 5vw;
  margin-right: 7vw;
  border-radius: 50%;
  font-size: 2.5vw;
  opacity: 0.7;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}
.Index:hover {
  cursor: pointer;
  opacity: 2;
  background-color: yellow;
  color: #000000;
}
.Index.open {
  cursor: pointer;
  opacity: 2;
  background-color: yellow;
  color: #000000;
}
.click_me {
  display: none;
  font-size: 10vw;
  align-self: center;
  color: rgb(255, 251, 0);
  font-style: italic;
}

.time-display {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: #00000000;
}
.seconds {
  color: #ffffff;
  background-color: #b8111100;
  font-size: 5vw;
  align-self: baseline;
  text-align: center;
  border: 0.5vw solid rgba(235, 221, 221, 0);
  border-radius: 50%;
  min-width: 5vw;
  opacity: 0.5;
  display: none;
}
.seconds:hover {
  cursor: pointer;
  opacity: 2;
}
.time {
  background-color: #00000000;
  color: #ffffff;
  font-size: 10vw;
  font-weight: bold;
  box-sizing: border-box;
  opacity: 0.5;
  display: none;
}
.time:hover {
  opacity: 2;
}
.timebtn {
  display: flex;
  border-radius: 50%;
  border: 0.15vw solid black;
  height: 4vw;
  width: 4vw;
  background-color: #ffffff;
  justify-content: center;
  margin-left: 7vw;
  cursor: pointer;
  opacity: 2;
}
.timebtn.open {
  opacity: 0.5;
}
.arrows {
  font-size: 2vw;
}

.container-options {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 0 0vw 0;
  width: 100%;
}
.options {
  display: flex;
  width: 70vw;
  justify-content: space-evenly;
  align-self: center;
}

.selenp,
.selefl,
.selebrk,
.selewrk,
.selecm,
.selempt,
.selen,
.seletsk,
.selevnt {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  height: 6vw;
  width: 6vw;
  font-size: 1.5vw;
  align-items: end;
  display: flex;
  border: #000000 solid;
  color: #000000;
}
.selenp:active,
.selefl:active,
.selebrk:active,
.selewrk:active,
.selecm:active,
.selempt:active,
.selen:active,
.seletsk:active,
.selevnt:active {
  cursor: copy;
}
.selenp:hover,
.selefl:hover,
.selebrk:hover,
.selewrk:hover,
.selecm:hover,
.selempt:hover,
.selen:hover,
.seletsk:hover,
.selevnt:hover {
  scale: 200%;
}

.container-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 0vw 0;
  width: 100%;
 
}
.menu-toggle{ 
  top: -3.5vw;
  transition: top 0.5s ease;
  position: fixed;
  border: #00000000;
  z-index: 1;
  background-color: #e9e9e9;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  cursor: pointer;}
.menu-toggle.open{
  top: 11.5vh;
  height: 1vw;
  border-radius: 0%;
  background-color: #b3b3b3;
  position: absolute;
border: #000000 0.25vw solid;
}
.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  width: 100%;
  top: -15vh;
  height: 12vh;
  background-color: #000000;
  transition: top 0.5s ease;
}
.menu.open{
  top: 0;
  position: fixed;
}
.sky {
  background-color: #415dd6;
  width: 10vw;
  height: 5vw;
  border-radius: 45%;
  border: #000000 0.1vw solid;
}
.moonsun{
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    position: relative;
    top: 0.5vw;
    left: 1vw;
    cursor: pointer;
    background-color: #ffe865;
    transition: left 0.3s ease;
}
.moonsun.open {
  left: 5vw;
  background-color: #ffffff;
}
.night {
  background-color: #8995ff;
}
.nap {
  background-color: #aad9ff;
}
.break {
  background-color: #ceb0ff;
}
.fuel {
  background-color: #bcffc2;
}
.commute {
  background-color: #ffbc7e;
}
.work {
  background-color: #ff9696;
}
.empty {
  background-color: #cecece;
}
.event {
  background-color: #ffbffa;
}
.task {
  background-color: #fff89b;
}

.commute.open,
.work.open,
.fuel.open,
.break.open,
.nap.open,
.empty.open,
.night.open,
.event.open,
.task.open,
.slote.open {
  background-color: #00000000;
}
.slote.open{
  border: #00000000;
}