.frame{
    display: flex;
    flex-direction:row;
    justify-content: center;
    /* align-items: center; */
    padding: 0 0 0 0;
    margin: 0;
}

.mdl{
    display: flex;
    flex-direction: column;
    order: 2;
}.l{
    order: 1;
    display: flex;
    flex-direction: column;
}.r{
    order: 3;
    display: flex;
    flex-direction: column;
}
.left{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0.5vw solid rgb(0, 0, 0);
    background-color: #805cbb96;
}.right{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0.5vw solid rgb(0, 0, 0);
    background-color:#ffbb009d;
}.leftt{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
    height: 100%;
}.rightt{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #000000;
    height: 100%;
}
.top{
    display: flex;
    flex-direction: row;
    border: 0.5vw solid rgb(25, 43, 20);
    text-align: center;
    background-color:#f4faa4ad  
}.topt{
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color:#000000d0;
    width: 100%;
    max-width: 100%;
}.bottom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: center;
    border: 0.5vw solid rgb(25, 43, 20);
    background-color:#d6a2e6ce ;
}.bottomt{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: center;
    background-color:#000000 ;
    width: 100%;
}
.hr,.t,.tt{
    background-color: rgb(0, 0, 0);
    color: white;   
    min-height: 0.5vw;
    min-width: 0.5vw;
}
.slot, .hr{
    width: 2.5vw;  
    height: 2.5vw;  
    font-size: 2vw;
}
body{
    scale: 60%;
    background-color: #e2e2e2;
}
.center{
    height: 80.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}.center:hover{cursor: pointer;}


.time-display{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #000000;
}
#seconds{
    color: #ffffff;
    background-color: #b8111100;
    font-size: 5vw;
    align-self: baseline;
    text-align: center;
    border: 0.5vw solid rgba(235, 221, 221, 0);
    border-radius: 50%;
    min-width: 5vw;
    opacity: 0.5;
}
#seconds:hover{
    cursor: pointer;
    opacity: 2;
    border: 0.5vw solid rgb(221, 77, 77);
}
#time{
    background-color: #00000000;
    color: #ffffff;
    font-size: 10vw;
    font-weight: bold;
    box-sizing: border-box;
    opacity: 0.5;
}
#time:hover{opacity: 2;}

.container_nV{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 7vw 0;
    width: 100%;
}.sky{
    background-color: #415dd6;
    width: 60px;
    height: 30px;
    border-radius: 45%;
    border: #000000 0.1vw solid;
}
.moonsun{
    border-radius: 50%;
    width: 22px;
    height: 22px;
    position: relative;
    top: 4px;
    left: 8px;
    cursor: pointer;
    background-color: #ffe865;
    transition: left 0.3s ease;
}
.moonsun.open{
    left: 30px;
    background-color: #ffffff;
}

.commute:hover{background-color: #ffa500;  cursor: pointer;
}.commute.open{background-color: #f0a661;
}.work:hover{background-color:#dd6550;    cursor: pointer;
}.work.open{background-color:#e06651;   
}.fuel:hover{background-color:#8ffc81 ;    cursor: pointer;
}.fuel.open{ background-color:#75d169 ;   
}.break:hover{background-color: #1c3a18;    cursor: pointer;
}.break.open{background-color: #1c3a18;
}.nap:hover{background-color:#00ffff ;    cursor: pointer;
}.nap.open{background-color:#39b1b1 ; 
}.empty:hover{background-color: gainsboro;    cursor: pointer;
}.empty.open{background-color: gainsboro;   
}.night:hover{background-color: #0e1d3a;    cursor: pointer;
}.night.open{background-color: #311a55;}