.frame{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
    margin: 0;
}
.center{
   height: 80.6vw;
}
.center:hover{
    cursor: pointer;
}
.mdl{
    display: flex;
    flex-direction: column;
    order: 2;
}.l{
    order: 1;
    display: flex;
    flex-direction: column;
}.r{
    order: 3;
    display: flex;
    flex-direction: column;
}
.left, .right{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 0.5vw solid rgb(25, 43, 20);
}
.left{
    background-color:#5d4aa1 ;
}
.right{
    background-color:#fcdb81 ;

}
.top{
    display: flex;
    flex-direction: row;
    border: 0.5vw solid rgb(25, 43, 20);
    text-align: center;
    background-color:#f4faa4  
}.bottom{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    text-align: center;
    border: 0.5vw solid rgb(25, 43, 20);
    background-color:#d6a2e6 ;
}
.hr,.t,.tt{
    background-color: rgb(0, 0, 0);
    color: white;   
    min-height: 0.5vw;
    min-width: 0.5vw;
}
.slot, .hr{
    width: 2.5vw;  
    height: 2.5vw;  
    font-size: 2vw;
}
body{
    scale: 60%;
    background-color: #a9b0ba;
}



.commute:hover{
    background-color: #ffa500;
    cursor: pointer;
 }
.commute.open{
    background-color: #f0a661;
 }
.work:hover{    
    background-color:#dd6550;    cursor: pointer;
}
.work.open{    
    background-color:#e06651;   
}
.fuel:hover{    
    background-color:#8ffc81 ;    cursor: pointer;
}
.fuel.open{    
    background-color:#75d169 ;   
}
.break:hover{
    background-color: #1c3a18;    cursor: pointer;
}
.break.open{
    background-color: #1c3a18;
}
.nap:hover{
    background-color:#00ffff ;    cursor: pointer;
}
.nap.open{
    background-color:#39b1b1 ; 
}
.empty:hover{
    background-color: gainsboro;    cursor: pointer;
}
.empty.open{
    background-color: gainsboro;   
}
.night{
    background-color: #45366a; 
}
.night:hover{
    background-color: #0e1d3a;    cursor: pointer;
}
.night.open{
    background-color: #0e1d3a; 
}